In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [2]:
#File to load
file_to_load = "../Car_sales_Data/car_data.csv"

# Read Purchasing File and store into Pandas data frame
car_data_df = pd.read_csv(file_to_load)
car_data_df.head()

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
0,Acura,Honda,40000,36385,37382,39046,44572.0,28531,27458,39664,25681.0
1,Alfa Romeo,Fiat Chrysler,50000,4286,4751,4310,4947.0,3702,3735,5056,0.0
2,Audi,Audi,59017,48115,53325,57031,65640.0,41371,34839,47896,0.0
3,Bentley,VW,211000,2385,2385,2385,0.0,2499,2499,2499,0.0
4,BMW,BMW,69000,73888,82551,75987,92399.0,62152,50956,68439,0.0

In [3]:
#Remove column Q4 2019 & Q4 2020 as Quarter 4 data was not fully published at the time of the project.
drop_col=['Q4 2019', 'Q4 2020']
car_data_df = car_data_df.drop(drop_col, axis=1)

#Display results of dataframe
car_data_df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q1 2020,Q2 2020,Q3 2020
0,Acura,Honda,40000,36385,37382,39046,28531,27458,39664
1,Alfa Romeo,Fiat Chrysler,50000,4286,4751,4310,3702,3735,5056
2,Audi,Audi,59017,48115,53325,57031,41371,34839,47896
3,Bentley,VW,211000,2385,2385,2385,2499,2499,2499
4,BMW,BMW,69000,73888,82551,75987,62152,50956,68439
5,Bugatti,VW,2400000,21,21,21,19,19,19
6,Buick,GM,33000,51865,55373,50614,33870,35521,49170
7,Cadillac,GM,54000,35996,39739,39962,30323,23297,32966
8,Chevrolet,GM,33000,451742,486884,505913,429529,330381,449134
9,Chrysler,Fiat Chrysler,32000,31591,32831,29544,29945,13857,31869
10,Dodge,Fiat Chrysler,29000,110517,117582,104146,88656,43756,71935
11,Ferrari,Ferrari,300000,2585,2585,2585,2147,2147,2147
12,Fiat,Fiat Chrysler,26000,2214,2889,2361,1128,1339,1102
13,Ford,Ford,32000,557884,613098,548070,489051,411035,521530
14,Genesis,Hyundai,49000,4203,5805,4902,3955,3585,3745
15,GMC,GM,35000,125579,151701,140790,118718,101759,132746
16,Honda,Honda,28000,333402,370026,390168,270253,266044,338769
17,Hyundai,Hyundai,30000,147585,185743,173028,130875,139378,170828
18,Infiniti,Nissan,45000,34315,28743,24876,25556,16097,17368
19,Jaguar,TaTa,52000,10222,6060,6150,7266,4320,4700
20,Jeep,Fiat Chrysler,30000,212804,243477,245474,182667,176713,222211
21,Kia,Kia,30000,136596,168248,158754,137945,125302,165013
22,Lamborghini,Audi,300000,2172,2172,2172,1877,1877,1877
23,Land Rover,TaTa,59000,25028,21095,20516,21936,14500,15899
24,Lexus,Toyota,56000,66791,68944,73816,56345,50458,75285
25,Lincoln,Ford,52000,24874,25941,27937,25562,21280,27555
26,Maserati,Fiat Chrysler,80000,6433,6433,6433,3967,3967,3967
27,Mazda,Mazda,25000,70831,67722,69612,67670,61199,74411
28,McLaren,McLaren,250000,1102,1102,1102,299,299,299
29,Mercedes-Benz,Daimler,58000,78667,80463,89636,75265,69505,84628
30,Mini,BMW,28000,8905,8678,10243,5236,5288,8974
31,Mitsubishi,Mitsubishi,22000,42070,29030,24474,35563,12197,24857
32,Nissan,Nissan,30000,331536,322442,302478,232048,161317,221754
33,Porsche,Porsche,73000,15024,15233,14805,11984,12193,15548
34,Ram,Fiat Chrysler,34000,137013,196155,179200,140486,127682,175174
35,Subaru,Subaru,31000,156754,182771,185804,130591,136519,169446
36,Tesla,Tesla,60000,30600,53300,54700,52800,36800,139300
37,Toyota,Toyota,34000,476925,539448,553378,439402,347571,483164
38,Volkswagen,VW,30000,85872,98736,93547,75065,69933,84514
39,Volvo,Volvo,50000,22058,28062,27305,19485,23770,30349

In [4]:
#Autogroup and Avg Price was not needed for this portion of the analysis as the focus is solely on quarterly sales.
drop_col=['Autogroup', 'Avg Price']
car_data_df = car_data_df.drop(drop_col, axis=1)

#Display results
car_data_df

            Brand  Q1 2019  Q2 2019  Q3 2019  Q1 2020  Q2 2020  Q3 2020
0           Acura    36385    37382    39046    28531    27458    39664
1      Alfa Romeo     4286     4751     4310     3702     3735     5056
2            Audi    48115    53325    57031    41371    34839    47896
3         Bentley     2385     2385     2385     2499     2499     2499
4             BMW    73888    82551    75987    62152    50956    68439
5         Bugatti       21       21       21       19       19       19
6           Buick    51865    55373    50614    33870    35521    49170
7        Cadillac    35996    39739    39962    30323    23297    32966
8       Chevrolet   451742   486884   505913   429529   330381   449134
9        Chrysler    31591    32831    29544    29945    13857    31869
10          Dodge   110517   117582   104146    88656    43756    71935
11        Ferrari     2585     2585     2585     2147     2147     2147
12           Fiat     2214     2889     2361     1128     1339     1102
13           Ford   557884   613098   548070   489051   411035   521530
14        Genesis     4203     5805     4902     3955     3585     3745
15            GMC   125579   151701   140790   118718   101759   132746
16          Honda   333402   370026   390168   270253   266044   338769
17        Hyundai   147585   185743   173028   130875   139378   170828
18       Infiniti    34315    28743    24876    25556    16097    17368
19         Jaguar    10222     6060     6150     7266     4320     4700
20           Jeep   212804   243477   245474   182667   176713   222211
21            Kia   136596   168248   158754   137945   125302   165013
22    Lamborghini     2172     2172     2172     1877     1877     1877
23     Land Rover    25028    21095    20516    21936    14500    15899
24          Lexus    66791    68944    73816    56345    50458    75285
25        Lincoln    24874    25941    27937    25562    21280    27555
26       Maserati     6433     6433     6433     3967     3967     3967
27          Mazda    70831    67722    69612    67670    61199    74411
28        McLaren     1102     1102     1102      299      299      299
29  Mercedes-Benz    78667    80463    89636    75265    69505    84628
30           Mini     8905     8678    10243     5236     5288     8974
31     Mitsubishi    42070    29030    24474    35563    12197    24857
32         Nissan   331536   322442   302478   232048   161317   221754
33        Porsche    15024    15233    14805    11984    12193    15548
34            Ram   137013   196155   179200   140486   127682   175174
35         Subaru   156754   182771   185804   130591   136519   169446
36          Tesla    30600    53300    54700    52800    36800   139300
37         Toyota   476925   539448   553378   439402   347571   483164
38     Volkswagen    85872    98736    93547    75065    69933    84514
39          Volvo    22058    28062    27305    19485    23770    30349

In [5]:
#Total sales for each brand for 2019
car_data_df["2019 Total Sales"] = car_data_df["Q1 2019"] + car_data_df["Q2 2019"] + car_data_df ["Q3 2019"]

#Display results
car_data_df

,Brand,Q1 2019,Q2 2019,Q3 2019,Q1 2020,Q2 2020,Q3 2020,2019 Total Sales
0,Acura,36385,37382,39046,28531,27458,39664,112813
1,Alfa Romeo,4286,4751,4310,3702,3735,5056,13347
2,Audi,48115,53325,57031,41371,34839,47896,158471
3,Bentley,2385,2385,2385,2499,2499,2499,7155
4,BMW,73888,82551,75987,62152,50956,68439,232426
5,Bugatti,21,21,21,19,19,19,63
6,Buick,51865,55373,50614,33870,35521,49170,157852
7,Cadillac,35996,39739,39962,30323,23297,32966,115697
8,Chevrolet,451742,486884,505913,429529,330381,449134,1444539
9,Chrysler,31591,32831,29544,29945,13857,31869,93966
10,Dodge,110517,117582,104146,88656,43756,71935,332245
11,Ferrari,2585,2585,2585,2147,2147,2147,7755
12,Fiat,2214,2889,2361,1128,1339,1102,7464
13,Ford,557884,613098,548070,489051,411035,521530,1719052
14,Genesis,4203,5805,4902,3955,3585,3745,14910
15,GMC,125579,151701,140790,118718,101759,132746,418070
16,Honda,333402,370026,390168,270253,266044,338769,1093596
17,Hyundai,147585,185743,173028,130875,139378,170828,506356
18,Infiniti,34315,28743,24876,25556,16097,17368,87934
19,Jaguar,10222,6060,6150,7266,4320,4700,22432
20,Jeep,212804,243477,245474,182667,176713,222211,701755
21,Kia,136596,168248,158754,137945,125302,165013,463598
22,Lamborghini,2172,2172,2172,1877,1877,1877,6516
23,Land Rover,25028,21095,20516,21936,14500,15899,66639
24,Lexus,66791,68944,73816,56345,50458,75285,209551
25,Lincoln,24874,25941,27937,25562,21280,27555,78752
26,Maserati,6433,6433,6433,3967,3967,3967,19299
27,Mazda,70831,67722,69612,67670,61199,74411,208165
28,McLaren,1102,1102,1102,299,299,299,3306
29,Mercedes-Benz,78667,80463,89636,75265,69505,84628,248766
30,Mini,8905,8678,10243,5236,5288,8974,27826
31,Mitsubishi,42070,29030,24474,35563,12197,24857,95574
32,Nissan,331536,322442,302478,232048,161317,221754,956456
33,Porsche,15024,15233,14805,11984,12193,15548,45062
34,Ram,137013,196155,179200,140486,127682,175174,512368
35,Subaru,156754,182771,185804,130591,136519,169446,525329
36,Tesla,30600,53300,54700,52800,36800,139300,138600
37,Toyota,476925,539448,553378,439402,347571,483164,1569751
38,Volkswagen,85872,98736,93547,75065,69933,84514,278155
39,Volvo,22058,28062,27305,19485,23770,30349,77425

In [6]:
#Total sales for each brand for 2020
car_data_df["2020 Total Sales"] = car_data_df["Q1 2020"] + car_data_df["Q2 2020"] + car_data_df ["Q3 2020"]

#Display results 
car_data_df

,Brand,Q1 2019,Q2 2019,Q3 2019,Q1 2020,Q2 2020,Q3 2020,2019 Total Sales,2020 Total Sales
0,Acura,36385,37382,39046,28531,27458,39664,112813,95653
1,Alfa Romeo,4286,4751,4310,3702,3735,5056,13347,12493
2,Audi,48115,53325,57031,41371,34839,47896,158471,124106
3,Bentley,2385,2385,2385,2499,2499,2499,7155,7497
4,BMW,73888,82551,75987,62152,50956,68439,232426,181547
5,Bugatti,21,21,21,19,19,19,63,57
6,Buick,51865,55373,50614,33870,35521,49170,157852,118561
7,Cadillac,35996,39739,39962,30323,23297,32966,115697,86586
8,Chevrolet,451742,486884,505913,429529,330381,449134,1444539,1209044
9,Chrysler,31591,32831,29544,29945,13857,31869,93966,75671
10,Dodge,110517,117582,104146,88656,43756,71935,332245,204347
11,Ferrari,2585,2585,2585,2147,2147,2147,7755,6441
12,Fiat,2214,2889,2361,1128,1339,1102,7464,3569
13,Ford,557884,613098,548070,489051,411035,521530,1719052,1421616
14,Genesis,4203,5805,4902,3955,3585,3745,14910,11285
15,GMC,125579,151701,140790,118718,101759,132746,418070,353223
16,Honda,333402,370026,390168,270253,266044,338769,1093596,875066
17,Hyundai,147585,185743,173028,130875,139378,170828,506356,441081
18,Infiniti,34315,28743,24876,25556,16097,17368,87934,59021
19,Jaguar,10222,6060,6150,7266,4320,4700,22432,16286
20,Jeep,212804,243477,245474,182667,176713,222211,701755,581591
21,Kia,136596,168248,158754,137945,125302,165013,463598,428260
22,Lamborghini,2172,2172,2172,1877,1877,1877,6516,5631
23,Land Rover,25028,21095,20516,21936,14500,15899,66639,52335
24,Lexus,66791,68944,73816,56345,50458,75285,209551,182088
25,Lincoln,24874,25941,27937,25562,21280,27555,78752,74397
26,Maserati,6433,6433,6433,3967,3967,3967,19299,11901
27,Mazda,70831,67722,69612,67670,61199,74411,208165,203280
28,McLaren,1102,1102,1102,299,299,299,3306,897
29,Mercedes-Benz,78667,80463,89636,75265,69505,84628,248766,229398
30,Mini,8905,8678,10243,5236,5288,8974,27826,19498
31,Mitsubishi,42070,29030,24474,35563,12197,24857,95574,72617
32,Nissan,331536,322442,302478,232048,161317,221754,956456,615119
33,Porsche,15024,15233,14805,11984,12193,15548,45062,39725
34,Ram,137013,196155,179200,140486,127682,175174,512368,443342
35,Subaru,156754,182771,185804,130591,136519,169446,525329,436556
36,Tesla,30600,53300,54700,52800,36800,139300,138600,228900
37,Toyota,476925,539448,553378,439402,347571,483164,1569751,1270137
38,Volkswagen,85872,98736,93547,75065,69933,84514,278155,229512
39,Volvo,22058,28062,27305,19485,23770,30349,77425,73604

In [7]:
#Find the percentage change of sales between 2019 & 2020 sales
car_data_df["Percent Change"] = ((car_data_df["2020 Total Sales"] - car_data_df["2019 Total Sales"]) / car_data_df["2019 Total Sales"]) * 100

car_data_df['Percent Change'] = car_data_df['Percent Change'].map("{:,.0f}%".format)

#Display results
car_data_df

,Brand,Q1 2019,Q2 2019,Q3 2019,Q1 2020,Q2 2020,Q3 2020,2019 Total Sales,2020 Total Sales,Percent Change
0,Acura,36385,37382,39046,28531,27458,39664,112813,95653,-15%
1,Alfa Romeo,4286,4751,4310,3702,3735,5056,13347,12493,-6%
2,Audi,48115,53325,57031,41371,34839,47896,158471,124106,-22%
3,Bentley,2385,2385,2385,2499,2499,2499,7155,7497,5%
4,BMW,73888,82551,75987,62152,50956,68439,232426,181547,-22%
5,Bugatti,21,21,21,19,19,19,63,57,-10%
6,Buick,51865,55373,50614,33870,35521,49170,157852,118561,-25%
7,Cadillac,35996,39739,39962,30323,23297,32966,115697,86586,-25%
8,Chevrolet,451742,486884,505913,429529,330381,449134,1444539,1209044,-16%
9,Chrysler,31591,32831,29544,29945,13857,31869,93966,75671,-19%
10,Dodge,110517,117582,104146,88656,43756,71935,332245,204347,-38%
11,Ferrari,2585,2585,2585,2147,2147,2147,7755,6441,-17%
12,Fiat,2214,2889,2361,1128,1339,1102,7464,3569,-52%
13,Ford,557884,613098,548070,489051,411035,521530,1719052,1421616,-17%
14,Genesis,4203,5805,4902,3955,3585,3745,14910,11285,-24%
15,GMC,125579,151701,140790,118718,101759,132746,418070,353223,-16%
16,Honda,333402,370026,390168,270253,266044,338769,1093596,875066,-20%
17,Hyundai,147585,185743,173028,130875,139378,170828,506356,441081,-13%
18,Infiniti,34315,28743,24876,25556,16097,17368,87934,59021,-33%
19,Jaguar,10222,6060,6150,7266,4320,4700,22432,16286,-27%
20,Jeep,212804,243477,245474,182667,176713,222211,701755,581591,-17%
21,Kia,136596,168248,158754,137945,125302,165013,463598,428260,-8%
22,Lamborghini,2172,2172,2172,1877,1877,1877,6516,5631,-14%
23,Land Rover,25028,21095,20516,21936,14500,15899,66639,52335,-21%
24,Lexus,66791,68944,73816,56345,50458,75285,209551,182088,-13%
25,Lincoln,24874,25941,27937,25562,21280,27555,78752,74397,-6%
26,Maserati,6433,6433,6433,3967,3967,3967,19299,11901,-38%
27,Mazda,70831,67722,69612,67670,61199,74411,208165,203280,-2%
28,McLaren,1102,1102,1102,299,299,299,3306,897,-73%
29,Mercedes-Benz,78667,80463,89636,75265,69505,84628,248766,229398,-8%
30,Mini,8905,8678,10243,5236,5288,8974,27826,19498,-30%
31,Mitsubishi,42070,29030,24474,35563,12197,24857,95574,72617,-24%
32,Nissan,331536,322442,302478,232048,161317,221754,956456,615119,-36%
33,Porsche,15024,15233,14805,11984,12193,15548,45062,39725,-12%
34,Ram,137013,196155,179200,140486,127682,175174,512368,443342,-13%
35,Subaru,156754,182771,185804,130591,136519,169446,525329,436556,-17%
36,Tesla,30600,53300,54700,52800,36800,139300,138600,228900,65%
37,Toyota,476925,539448,553378,439402,347571,483164,1569751,1270137,-19%
38,Volkswagen,85872,98736,93547,75065,69933,84514,278155,229512,-17%
39,Volvo,22058,28062,27305,19485,23770,30349,77425,73604,-5%